@import '../../sass/main.scss';

.programmes {
    background-color: #a3a3a3;
    position: relative;
    top: 200px;
    &_title {
        font-size: 44px;
        position: relative;
        top: 50px;
    }
    &_link {
        position: relative;
        top: 150px;
        @include flex(row, space-evenly, center);
        &_bloc {
            width: 640px;
            height: 535px;
            &_photo {
                width: 100%;
            }
        }
    }
}
