@import '../../sass/main.scss';

.bloc1 {
    position: relative;
    top: 100px;
    line-height: 200%;
    width: 80%;
    margin: 0 auto;
    text-align: left;
    //@include flex(column, start, center);
    &_text {
        @include flex(column, flex-start, start);
        &_p {
            @include flex(column, flex-start, start);
        }
        &_list {
            @include flex(column, flex-start, start);
        }
    }
}
